In [36]:
import pandas as pd
import numpy as np
import re
df2 = pd.read_csv("E:/Curneu Medtech/User2data.csv")
data2=pd.DataFrame(df2)

In [37]:
data2

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1002,1,Cardiac_disorders,Heart_pain,BipayU.Ex.,BipayU.Ex.
1,1002,1,Cardiac_disorders,Heart_pain,HeguLI4,HeguLI4
2,1002,1,Cardiac_disorders,Heart_pain,JueyinshuUB14,JueyinshuUB14
3,1002,1,Cardiac_disorders,Heart_pain,NeiguanP6,NeiguanP6
4,1002,1,Cardiac_disorders,Heart_pain,RugenST18,RugenST18
...,...,...,...,...,...,...
871,1002,100,Dyspnoea,Ascites,LiequeLU7,PishuUB20
872,1002,100,Dyspnoea,Ascites,PishuUB20,ShimenRen5
873,1002,100,Dyspnoea,Ascites,ShimenRen5,NaN
874,1002,100,Dyspnoea,Ascites,ShuifenRen9,NaN
875,1002,100,Dyspnoea,Ascites,YinlingquanSP9,NaN

In [38]:
list1=data2.Recommended.str.split('(?=[A-Z])')
#print(list1)
data2.Recommended=[''.join(each[2:]) for each in list1]
data2

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1002,1,Cardiac_disorders,Heart_pain,U.Ex.,BipayU.Ex.
1,1002,1,Cardiac_disorders,Heart_pain,LI4,HeguLI4
2,1002,1,Cardiac_disorders,Heart_pain,UB14,JueyinshuUB14
3,1002,1,Cardiac_disorders,Heart_pain,P6,NeiguanP6
4,1002,1,Cardiac_disorders,Heart_pain,ST18,RugenST18
...,...,...,...,...,...,...
871,1002,100,Dyspnoea,Ascites,LU7,PishuUB20
872,1002,100,Dyspnoea,Ascites,UB20,ShimenRen5
873,1002,100,Dyspnoea,Ascites,Ren5,NaN
874,1002,100,Dyspnoea,Ascites,Ren9,NaN
875,1002,100,Dyspnoea,Ascites,SP9,NaN

In [39]:
choosenmed2=data2.Selected
listofmed2=data2.Recommended
z2=str(choosenmed2)
#print(z2)
#print(listofmed2)

In [40]:
res2 = [sub for sub in listofmed2 if sub in z2] 
q2=res2
q2
#newcol = []
#it = 0
#for i in data2['Selected']:
#    if(i is np.nan):
#        newcol.append(float('nan'))
#    else:
#       newcol.append(q2[it])
#      it=it+1

['U.Ex.',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'U.Ex.',
 'LI4',
 'U.Ex.',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'U.Ex.',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'UB20',
 'Ren5',
 'LI4',
 'U.Ex.',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'U.Ex.',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'U.Ex.',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'LI4',
 'U.Ex.',
 'LI4',
 'LI4',
 'UB14',
 'P6',
 'ST18',
 'U.Ex.',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'UB20',
 'Ren5',
 'LI4',
 'LI4',
 'LI4',
 'LI4',
 'UB20',
 'Ren5']

In [41]:
data2

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1002,1,Cardiac_disorders,Heart_pain,U.Ex.,BipayU.Ex.
1,1002,1,Cardiac_disorders,Heart_pain,LI4,HeguLI4
2,1002,1,Cardiac_disorders,Heart_pain,UB14,JueyinshuUB14
3,1002,1,Cardiac_disorders,Heart_pain,P6,NeiguanP6
4,1002,1,Cardiac_disorders,Heart_pain,ST18,RugenST18
...,...,...,...,...,...,...
871,1002,100,Dyspnoea,Ascites,LU7,PishuUB20
872,1002,100,Dyspnoea,Ascites,UB20,ShimenRen5
873,1002,100,Dyspnoea,Ascites,Ren5,NaN
874,1002,100,Dyspnoea,Ascites,Ren9,NaN
875,1002,100,Dyspnoea,Ascites,SP9,NaN

In [42]:
list2=data2.Selected.str.split('(?=[A-Z])')
#print(list2)
res  = []
for each in list2:
    #print(str(type(each)))
    if 'float' in str(type(each)):
        
        res.append(each)
    else:
        res.append(''.join(each[2:]))
data2.Selected = res
data2

     User_Id  Patient_Id           Symptom1    Symptom2 Recommended Selected
0       1002           1  Cardiac_disorders  Heart_pain       U.Ex.    U.Ex.
1       1002           1  Cardiac_disorders  Heart_pain         LI4      LI4
2       1002           1  Cardiac_disorders  Heart_pain        UB14     UB14
3       1002           1  Cardiac_disorders  Heart_pain          P6       P6
4       1002           1  Cardiac_disorders  Heart_pain        ST18     ST18
..       ...         ...                ...         ...         ...      ...
871     1002         100           Dyspnoea     Ascites         LU7     UB20
872     1002         100           Dyspnoea     Ascites        UB20     Ren5
873     1002         100           Dyspnoea     Ascites        Ren5      NaN
874     1002         100           Dyspnoea     Ascites        Ren9      NaN
875     1002         100           Dyspnoea     Ascites         SP9      NaN

[876 rows x 6 columns]

In [43]:
#user3
import pandas as pd
df3 = pd.read_csv("E:/Curneu Medtech/User3data.csv")
data3=pd.DataFrame(df3)
list3=data3.Recommended.str.split('(?=[A-Z])')
data3.Recommended=[''.join(each[2:]) for each in list3]
choosenmed3=data3.Selected
listofmed3=data3.Recommended
z3=str(choosenmed3)
res3 = [sub for sub in listofmed3 if sub in z3] 
q3=res3
list3=data3.Selected.str.split('(?=[A-Z])')
res  = []
for each in list3:
    if 'float' in str(type(each)):
        res.append(each)
    else:
        res.append(''.join(each[2:]))
data3.Selected = res
data3

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1003,1,Difficult_in_swallowing,Hiccup,DU20,DU20
1,1003,1,Difficult_in_swallowing,Hiccup,ST21,P6
2,1003,1,Difficult_in_swallowing,Hiccup,P6,Ren17
3,1003,1,Difficult_in_swallowing,Hiccup,DU26,Ren12
4,1003,1,Difficult_in_swallowing,Hiccup,Ren17,ST36
...,...,...,...,...,...,...
992,1003,100,Difficult_in_swallowing,Hiccup,ST25,NaN
993,1003,100,Difficult_in_swallowing,Hiccup,Ren22,NaN
994,1003,100,Difficult_in_swallowing,Hiccup,UB21,NaN
995,1003,100,Difficult_in_swallowing,Hiccup,Ren12,NaN
996,1003,100,Difficult_in_swallowing,Hiccup,ST36,NaN

In [44]:
#user4
import pandas as pd
df4 = pd.read_csv("E:/Curneu Medtech/User4data.csv")
data4=pd.DataFrame(df4)
list4=data4.Recommended.str.split('(?=[A-Z])')
data4.Recommended=[''.join(each[2:]) for each in list4]
choosenmed4=data4.Selected
listofmed4=data4.Recommended
z4=str(choosenmed4)
res4 = [sub for sub in listofmed4 if sub in z4] 
q4=res4
list4=data4.Selected.str.split('(?=[A-Z])')
res  = []
for each in list4:
    if 'float' in str(type(each)):
        res.append(each)
    else:
        res.append(''.join(each[2:]))
data4.Selected = res
data4

,User_Id,Patient_Id,Symptom1,Symptom2,Recommended,Selected
0,1004,1,Intestinal_colic,Constipation,DU20,DU20
1,1004,1,Intestinal_colic,Constipation,LI4,ST25
2,1004,1,Intestinal_colic,Constipation,SP6,ST36
3,1004,1,Intestinal_colic,Constipation,ST25,SP6
4,1004,1,Intestinal_colic,Constipation,SJ6,SJ6
...,...,...,...,...,...,...
947,1004,100,Prolapse_of_rectum,Fever,DU14,LI4
948,1004,100,Prolapse_of_rectum,Fever,LI4,NaN
949,1004,100,Prolapse_of_rectum,Fever,Ren1,NaN
950,1004,100,Prolapse_of_rectum,Fever,LI11,NaN
951,1004,100,Prolapse_of_rectum,Fever,GB34,NaN

In [45]:
#user5
import pandas as pd
df5 = pd.read_csv("E:/Curneu Medtech/User5data.csv")
data5=pd.DataFrame(df5)
list5=data5.Recommended.str.split('(?=[A-Z])')
data5.Recommended=[''.join(each[2:]) for each in list5]
choosenmed5=data5.Selected
listofmed5=data5.Recommended
z5=str(choosenmed5)
res5 = [sub for sub in listofmed5 if sub in z5] 
q5=res5
list5=data5.Selected.str.split('(?=[A-Z])')
res  = []
for each in list5:
    if 'float' in str(type(each)):
        res.append(each)
    else:
        res.append(''.join(each[2:]))
data5.Selected = res
data5

     User_Id  Patient_Id      Symptom1     Symptom2 Recommended Selected
0     1005.0           1     Sinusitis  Tonsillitis        DU20     DU20
1        NaN           1     Sinusitis  Tonsillitis        DU14     DU14
2        NaN           1     Sinusitis  Tonsillitis         LI4      LI4
3        NaN           1     Sinusitis  Tonsillitis        SI18     LI11
4        NaN           1     Sinusitis  Tonsillitis        LI11     SI17
..       ...         ...           ...          ...         ...      ...
878      NaN         100  Constipation      Malaise         SP6     ST36
879      NaN         100  Constipation      Malaise        ST25      NaN
880      NaN         100  Constipation      Malaise         SJ6      NaN
881      NaN         100  Constipation      Malaise       Ren12      NaN
882      NaN         100  Constipation      Malaise        ST36      NaN

[883 rows x 6 columns]